<!-- 
  A modified version of `double.launch` for `aruco_ros` library.
 -->

<launch>

    <arg name="marker1Id"         default="3"/>
    <arg name="marker2Id"         default="2"/>
    <arg name="markerSize"        default="0.17"/> <!-- in meters -->
    <arg name="eye"               default="left"/>
    <arg name="dct_normalization" default="False" />
    <arg name="dct_filter_size"   default="2" />
    <arg name="marker1_frame"     default="marker_hand_frame" />
    <arg name="marker2_frame"     default="marker_object_frame" />
    <!-- Newly added lines: -->
    <!-- imageRaw variants: /camera/color/image_raw for live/recorded RealSense feed and /device_0/sensor_1/Color_0/image/data for UniLu dataset -->
    <arg name="imageRaw"   default="/device_0/sensor_1/Color_0/image/data" />
    <!-- cameraInfo variants: /camera/aligned_depth_to_color/camera_info for live/recorded RealSense feed and /device_0/sensor_1/Color_0/info/camera_info for UniLu dataset -->
    <arg name="cameraInfo"   default="/device_0/sensor_1/Color_0/info/camera_info" />

    <node pkg="aruco_ros" type="double" name="aruco_simple">    
        <remap from="/image" to="$(arg imageRaw)" />
        <remap from="/camera_info" to="$(arg cameraInfo)" /> 

        <param name="image_is_rectified" value="True"/>
        <param name="marker_id1" value="$(arg marker1Id)"/>
        <param name="marker_id2" value="$(arg marker2Id)"/>
        <param name="marker_size" value="$(arg markerSize)"/>
        <param name="normalizeImage" value="$(arg dct_normalization)"/>
        <param name="dct_components_to_remove" value="$(arg dct_filter_size)"/>
        <param name="parent_name" value="stereo_gazebo_$(arg eye)_camera_optical_frame"/>
        <param name="child_name1" value="$(arg marker1_frame)" />
        <param name="child_name2" value="$(arg marker2_frame)" />
    </node>

</launch>